<!--Profile at the top of the page-->
<%= render 'layouts/profile', user: @user %>
<div class="border border-dark p-3 my-3">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<!--List of recent posts-->

<div class="mt-4">
  <%= link_to 'Add new post', new_user_post_path(@user), class: 'btn btn-secondary ms-auto' %>
  <h2>Recent Posts:</h2>
  <% @user.recent_posts.each do |post| %>
    <div class="mt-3">
      <%= render 'posts/post', post: post %>
    </div>
  <% end %>
</div>

<!--See all posts button-->

<div class="text-center mt-3">
  <%= link_to 'See all posts', user_posts_path(@user), class: 'btn btn-secondary' %>
</div>