<section >
  <div class="container">
    <h1 class="text-bg-dark w-100">Profile of <%= @user.name %></h1>
    <div class="row p-3 gx-5">
      <div class="col-3 border border-dark rounded">
        <img src="<%= @user.photo %>" alt="<%= @user.name %>" class="img-thumbnail">
      </div>
      <div class="col ms-2 border border-dark rounded p-2">
        <h3><%= @user.name %></h3>
        <p class="text-end"><strong>Number of posts: </strong><%= @user.posts_counter %></p>
      </div>
    </div>
  </div>
</section>

<div class="my-3">
  <%=link_to 'Create post', new_user_post_path(@user), class: 'btn btn-warning' %>
</div>

<section >
  <div class="card">
    <div class="card-header">
      Bio
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <%= @user.bio %>
      </blockquote>
    </div>
  </div>
</section>

<section >
  <div class="container border rounded p-4">
    <h2 class="mb-4">Recent Posts</h2>
    <ul class="list-group list-group-flush mb-5" >
      <% @user.recent_posts.each do |post| %>
        <li class="list-group-item border-bottom">
          <h3>Title: <%= post.title %></h3>
          <p><%= post.text %></p>
        </li>
      <% end %>
    </ul>
    <%= link_to 'See all posts', user_posts_path(@user), class: 'btn btn-secondary' %>
  </div>

</section>