<h1>Create new post</h1>

<%=form_with model: @post, url: user_posts_path(@user), local: true do |f| %>
  <div class="my-2">
    <%=f.label :title %>
    <%=f.text_field :title, class: 'form-control'%>
  </div>
  <div class="my-2">
    <%=f.label :text %>
    <%=f.text_area :text, class: 'form-control' %>
  </div>
  <div class="my-2">
    <%=f.submit class: 'btn btn-primary' %>
  </div>
<%end %>
