<div>
  <h1>Post #<%= @post.id %> by <%= @post.author.name %></h1>
  <p><%=@post.text %></p>
</div>

<div>
  <h2>Comments</h2>
  <ul>
    <%@post.comments do |comment| %>
      <li><strong><%=comment.user.name %></strong><%=comment.text %></li>
    <% end %>
  </ul>
</div>
